<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/loginLayout">

	<div layout:fragment="content">
		<div class="wrap" id="loginApp">
			<div class="form-wrap">
				<div class="button-wrap">
					<div id="btn"></div>
					<button type="button" class="togglebtn" v-on:click="login">LOG IN</button>
					<button type="button" class="togglebtn" v-on:click="register">REGISTER</button>
				</div>
				<div class="social-icons">
					<img src="login/img/fb.png" alt="facebook">
					<img src="login/img/tw.png" alt="twitter">
					<img src="login/img/gl.png" alt="google">
				</div>
				<form id="login" action="/home" class="input-group">
					<input type="text" class="input-field" placeholder="User name or Email" required>
					<input type="password" class="input-field" placeholder="Enter Password" required>
					<input type="checkbox" class="checkbox"><span>Remember Password</span>
					<button class="submit" type="button" v-on:click="testToIndex">Login</button>
				</form>
				<form id="register" action="" class="input-group">
					<input type="text" class="input-field" placeholder="User name or Email" required>
					<input type="email" class="input-field" placeholder="Your Email" required>
					<input type="password" class="input-field" placeholder="Enter Password" required>
					<input type="checkbox" class="checkbox"><span>Terms and conditions</span>
					<button class="submit">REGISTER</button>
				</form>
			</div>
		</div>
		<script>
			const paymentVm = new Vue({
				el : '#loginApp',
				data : {

				},
				methods: {
					testToIndex : function () {
						location.href = "/home";
					},
					login : function() {
						document.getElementById("login").style.left = "50px";
						document.getElementById("register").style.left = "450px";
						document.getElementById("btn").style.left = "0";
					},
					register :  function() {
						document.getElementById("login").style.left = "-400px";
						document.getElementById("register").style.left = "50px";
						document.getElementById("btn").style.left = "110px";
					}
				}
			});
		</script>
	</div>
</html>